.container {
    max-width: 825px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .info-section {
    text-align: justify;
  }
  
  .info-section h2{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .info-section p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
  }
  
.info-section h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.info-section2 h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

.info-section2 p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.info-section2{
    display: flex;
    flex-direction: row;
    text-align: justify;
    
}

.info-section2 div{
    margin: 20px 20px 10px 5px;
}