.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .info-section {
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .info-section h2{
    text-align: center;
  }
  
.info-section2{
    display: flex;
    flex-direction: row;
    text-align: justify;
    
}

.info-section2 div{
    margin: 20px 20px 10px 5px;
}