.footer {
 background-color: #FFF;
 color: rgb(0, 0, 0);
 padding: 3em;
 text-align: center;

}
.ul {
    list-style-type: none;
    display: flex;
    justify-content: center;

}
.ul li {
    margin: 0 1em;

}
.ul svg{
    font-size: 1.5em;
    cursor: pointer;
}
.hrefs {
    text-decoration: none;
    color: black;
}
.hrefs:hover {
    color: #585858;
}