.footer {
 background-color: #FFF;
 padding: 3em;
 bottom: 0;


}
.ul {
    list-style-type: none;
    display: flex;
    justify-content: center;

}
.ul li {
    margin: 0 1em;

}
.ul svg{
    font-size: 1.5em;
    cursor: pointer;
}
.hrefs {
    text-decoration: none;
    color: rgb(0, 0, 0);

}
.hrefs:hover {
    transition: color 0.1s;
    color: #585858;

}