.p{
  text-align: center;
}
 
 .h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: flex;
  text-align: center;
  left: 110px;
  top: 35px;
  
 }
 
 .inf1 p{
 
  width: 1160px;
  position: relative;
  left: 90px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
 
 }
 .inf1 h2{

  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 .inf1 h4{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .inf2 p{
  text-align: justify;
  width: 500px;
  position: relative;
  left: 90px;
  top:150px;
  font-family: Arial, Helvetica, sans-serif;

 }
 
 .inf2 h4{
  top:150px;
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 250px ;
 }

 .inf3 p{
  text-align: justify;
  width: 500px;
  position: relative;
  left: 750px;

  font-family:Arial, Helvetica, sans-serif;
 }

 .inf3 h4{
  position: relative;
  padding-left: 900px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
 }

 .inform h2{
  margin-top: 5em;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 .inform h4{
  
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }


